:host {
  --storage-creation-area-message-font-size: var(--solid-ui-font-size-xs, .75rem);
  --storage-creation-area-padding: 14px 10px;
  --storage-creation-icon-size: 22px;
  --storage-creation-gap: 6px;
  --storage-creation-area-border-radius: 10px;

  .storage-creation-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    border: 1px dashed var(--solid-ui-color-gray-200, #E5E7EB);
    padding: var(--storage-creation-area-padding);
    color: var(--solid-ui-color-primary, #7c4dff);
    min-height: 73.391px;
    gap: var(--storage-creation-gap);
    align-self: stretch;
    border-radius: var(--storage-creation-area-border-radius);
    background: rgba(139, 92, 246, 0.02);
  }

  .storage-creation-area-message {
    font-size: var(--storage-creation-area-message-font-size);
  }

  icon-lucide-cloud-upload {
    width: var(--storage-creation-icon-size);
    height: var(--storage-creation-icon-size);
    flex-shrink: 0;
  }
}

