:host {
  .storage-creation-area {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid var(--solid-ui-color-gray-200, #E5E7EB);
    padding: 8px;
    z-index: 10;
    height: auto;
  }

  icon-lucide-plus {
    width: 30px;
    height: 30px;
  }
}

